
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background: hsl(185, 75%, 39%);
}
.container{
    
    display:flex;
    
}

.top-left-img{
   position: absolute;
   top:-70%; 
   left:-25%;
   
   
    
    
}
.bottom-right-img{
    position:absolute;
    bottom:-70%;
    right:-25%;
    transform:rotate(10deg);
    
    
    
}
.card-container{
    /* position: absolute;
    z-index: 1;
    align-items: center; */
}



