@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
.attribution { font-size: 11px; text-align: center; color: white;}
.attribution a { color: hsl(228, 45%, 44%); }

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Kumbh Sans', sans-serif;
}

:root{
    --gray-color : hsl(0,0%,59%);
}


html, body {

    position:relative;
    height: 100%; 
    overflow: hidden;
}

body{
    background: hsl(185, 75%, 39%);    
}

.top-left-img, .bottom-right-img{
    position:absolute;
}

.top-left-img{  
    bottom:50%;
    right:50%; 
}

.bottom-right-img{   
    top:50%;
    left:50%;
}

#card-container{
    height:60vh;
    width:55vh;
    display:flex;
    flex-direction: column;
    background-color: white;
    
    position: relative;
    
    margin-top:20vh;
    margin-left:70vh;
    border-bottom-left-radius: 1rem;
    
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    
  }
  .card-pattern-top{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: transparent;
  }


.victor-image{
    border-radius:50%;
    position:absolute;
    top:18%;
    right:35%;
    border: 7px solid white;
    height:25%;
    
    
}

#basic-info{
    padding-left:1rem;
    padding-top:2rem;
    align-items: center;
    margin-left:32%;
    font-size: 1.1rem;;
}
p{
    padding-top:1rem;
    margin-top:15%;
}
.container hr{
    
   display:flex;
   overflow:visible;
   margin:0%;
   color:gray;
   opacity: 0.5;
    
}
#location{
    padding:2rem;
    margin-top:5%;
    font-size:medium;
}
.card-content{
    margin-left:10%;
    display:flex;
    flex-direction:row;
}
.box{
    padding:1.5rem;
}
.box-detail{
    margin-top:5%;
    font-size:small;
    letter-spacing: 1px;
}